 <div class="section" id="training-box">
      <div class="section-header">
        Which one can you read more easily?
      </div>
        <div id="swatches">
            <div class="swatch-box">
            <div id="black-swatch" class="swatch" onclick="trainer.chooseColor('green');">
              <div class="swatch-text">Green</div>
            </div></div>
        </div>
        <div class="color-options row">
          {{#each colors}}
            <div class="col-xs-1" style="background-color:{{this}};" data-color="{{this}}">{{this}}</div>
          {{/each}}
        </div>

        <div onclick="trainer.chooseColor('other');">other</div>
        <div id="training-buttons">
          <span class="pass-button button" onclick="trainer.changeColor();"
                title="skip">&rarr;</span>
        </div>
      <div id="test-box">
        <div id="test-button" onclick="trainer.trainNetwork();" class="button">train neural network</div>
        <div id="subtitle"> You can train the network at any point, but the more
        color selections you give it, the better.
        </div>
      </div>
    </div>

    <div id="progress-box">
      <div id="training-message">
        training network...
      </div>
      <div id="progress-bar">
        <div id="progress-completed">
        </div>
      </div>
   </div>

    <div class="section" id="testing-box">
      <div id="swatches">
          <div id="nn-swatch-box" class="swatch-box">
            <div id="nn-swatch" class="swatch" onclick="tester.viewCode('nn');"
                 title="view neural network code">
              <div class="swatch-text">your neural network</div>
            </div>
            <div class="view-code" onclick="tester.viewCode('nn');">code
                <div class="view-code-arrow">&#x25B6;</div>
            </div>
          </div>
          <div id="wcag-swatch-box" class="swatch-box">
          <div id="wcag-swatch" class="swatch"
               onclick="tester.viewCode('wcag');" title="view luminosity code">
          <div class="swatch-text">luminosity algorithm</div>
          </div>
          <div class="view-code" onclick="tester.viewCode('wcag')">code
              <div class="view-code-arrow">&#x25B6;</div>
            </div>
          </div>
        <div id="yiq-swatch-box" class="swatch-box">
          <div id="yiq-swatch" class="swatch"
               onclick="tester.viewCode('yiq');" title="view yiq code">
               <div class="swatch-text">YIQ formula</div>
          </div>
          <div class="view-code" onclick="tester.viewCode('yiq')">code
              <div class="view-code-arrow">&#x25B6;</div>
            </div>
        </div>
      </div>
      <div id="training-buttons">
        <span class="pass-button button" onclick="tester.testRandom();"
              title="next color">&rarr;</span>
      </div>
    </div>
    <div id="code-box">
      <pre id="code"></pre>
    </div>