<div class="contrib-tooltip" data-contributor="{{name}}">
    <h4 
        class="contrib-link">
        {{name}}
    </h4>
    <p>
        {{proportion}}
    </p>
    <p>
        {{amount}}
    </p>
    <div class="contrib-view"></div>
</div>
