<div class="percent-holder">
    <div class="democrats percent-item" data-label="Democrats" data-percentage="{{democrats}}"></div>
    <div class="republicans percent-item" data-label="Republicans" data-percentage="{{republicans}}"></div>
</div>
<p>
    Total {{total}}
</p>
<p> 
    Lobbying {{lobbying}}
</p>