<div class="row">
    <div class="col-xs-7">
        <img src="/images/logo-nov.gif">
        <span class="title">| Drug Discovery and Development </span>
    </div>
    <div class="col-xs-5">
        <div>
            <span>Total Time Elapsed (YRS)</span>
            <span class="time-bar"></span>
            <span>{{timeElapsed}}</span>
        </div>
        <div>
            <span>FTE</span>
            <span class="fte-bar"></span>
            <span>{{fte}}</span>
        </div>
        <div>
            <span>Progress</span>
        </div>
    </div>
</div>