<div class="col-xs-12">
    <div class="col-md-10 col-md-offset-1 mission">
        <div class="row">
            <div class="col-xs-4 col-md-3 col-xl-2 team">
                <div class="text-center team-member">
                    <img src="/web/images/dan.jpg">
                    <h3>Dan Baker</h3>
                </div>
                <div class="text-center team-member">
                    <img src="/web/images/profile.png">
                    <h3>Elaine Dettmann</h3>
                    <p>UX Designer</p>
                </div>
            </div>
            <div class="col-xs-8 col-md-9 col-xl-10">
                <h1>Purpose</h1>
                <p>We wanted to create a friendly visual representation of the financial backing of the people that represent us.</p>
                <p>None of this would be possible without the data provided by <a href="http://opensecrets.org" target="_blank">opensecrets.org</a>.</p>
                <h1>Contact</h1>
                <p>If you have feedback or questions feel free to reach out at <a href="mailto:support@politics-in-public.com">support@politics-in-public.com</a></p>
            </div>
        </div>
    </div>
</div>