<div class="states col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-2">
        <h1>
            1. Choose at least 5 states
            <button class="next hidden btn btn-success">
                Next
            </button>
        </h1>
        <div class="chosen-states">
        </div>
        <div class="current-state">
        </div>
        <div class="states-map">
        </div>
</div>