<

<div class="states row">
    <div class="col-xs-4">
        <h3>
            1. Choose at least 5 states
        </h3>
        <div class="chosen-states">
        </div>
        <div class="current-state">
        </div>
    </div>
    <div class="col-xs-8">
        <div class="states-map">
        </div>
    </div>
</div>
<button class="next hidden btn btn-success">
    Next
</button>