

<div class="states row">
    <div class="col-xs-12">
        <p> 
            Pick a state and view the legislators
        </p>
        <div class="current-state">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="states-map">
        </div>
    </div>
</div>
<button class="next hidden btn btn-success">
    Next
</button>