<div class="text-center thanks">
    Thanks for playing!

    This was a simple implementation of a javascript neural network 

    <a href="https://github.com/harthur/brain" target="_blank">Brain</a>,

    with data supported by the <a href="https://www.opensecrets.org/" target="_blank">Open Secrets Api</a>.

    <button class="btn-link">Try Again</button>
</div>