<p>
    Atherosclerosis is comprised of complex changes in the arterial wall that include inflammatory cell infiltration, smooth muscle cell proliferation, lipid and extracellular matrix accumulation, and loss of vascular wall elasticity. The retention of lipids in the vascular wall, inflammation, oxidation, hyperglycemia, and hypertension contribute to lesion development. Symptomatic disease occurs when the atherosclerotic lesion becomes thrombotic and substantially impedes blood flow. Atherosclerosis is a major underlying cause of virtually all cardiovascular disease and is the primary cause of coronary artery disease and peripheral vascular disease.
</p>
<p>
    <b>
        More info:
    </b>
</p>
<p>
    <b>Prevalence:</b> About 17.3 million global deaths were attributed to cardiovascular disease (CVD) in 2008. Globally, CVD is expected to be the major cause of death in 2020. Atherosclerosis is a major underlying etiology for CVD.
</p>
<p>
    <b>Medical Need:</b> Current standard of care is directed towards decreasing low density lipoprotein- cholesterol (LDL-C) and blood pressure levels. Despite the success of these treatment modalities, CVD remains a growing problem due to limitations of the current treatment and increased incidence of diabetes and obesity. Hyperlipidemia is a critical risk factor linked to adverse cardiovascular events including myocardial infarction and stroke. Numerous clinical trials have shown that statins lower lipids and reduce these events, establishing these drugs as standard of care treatment either as monotherapy or in combination with other medications. Despite broad adoption, over 1/3 of patients treated and compliant with statin therapy are not at recommended goal lipid levels, and approximately 1 in 10 are intolerant of the medication. Thus, optimal treatment of hyperlipidemia remains a significant unmet medical need and serves as the key driver for discovering novel agents to lower lipids.
</>