<p>
    Cancer is a diverse group of proliferative diseases originating from abnormal cells that have the ability to grow without the limitations associated with normal tissue development. Uncontrolled cancer cell growth has one or more of the following characteristics: 1) independence from external growth promoting or arresting signals; 2) evasion of pro-apoptotic stimuli; 3) immortality; and 4) exploitation of the surrounding host tissue leading to vascularization and local/remote invasion.
</p>

<p>
    More info:
</p>
<p>
    <b>Prevalence:</b> In 2008, there were 12.7 million new cancer cases worldwide and 7.6 million cancer deaths. In economically developed countries, the most common types of cancer are prostate, lung, and colorectal cancers in men, and breast, colorectal, and lung cancers in women. In economically developing countries, cancers of the lung, stomach, and liver were most prevalent in men, and breast, cervical, and lung cancers were more frequently found in women. Breast cancer has now become the leading cause of cancer deaths in women in developing countries, representing 22% of all cancers among African women. Other cancer types that are pressing concerns in Africa are cervix, liver, Kaposi sarcoma, and urinary bladder cancers that come from infectious agents
</p>
<p>
    <b>Medical Need:</b> In 2008, 2.8 million cancer deaths occurred in economically developed countries and 4.8 million in economically developing countries. More than 500,000 people were expected to die of cancer in the US. Cancer deaths in Africa totaled 512,400, with 681,000 new cases. For the majority of nonresectable cancers, treatment is largely ineffective.
</p>