<p>
    Rheumatoid arthritis is an autoimmune disorder of unknown etiology, characterized by symmetric erosive synovitis, severe pain, and systemic manifestations, such as morning stiffness, fatigue, fever, and depression. Most patients experience a chronic fluctuating course of disease that results in progressive joint destruction, deformity, disability, and premature death.
</p>
<p>
    <b>
        More info:
    </b>
</p>
<p>
    <b>Prevalence:</b> Rheumatoid arthritis (RA) can develop at any age with a peak in incidence between the ages of 35 and 50. About 1% of the general Western adult population is affected, but the incidence may be as high as 2-4% in parts of Africa; there is a female/male ratio of approximately 2.5:1.
</p>
<p>
    <b>Medical Need:</b> There is currently no fully effective low molecular weight treatment for RA. An effective oral drug with proven ability to halt, or even reverse, the progression of structural joint damage is desirable, with a high safety and tolerability profile. The standard of care for RA includes methotrexate and biological agents such as TNF-inhibitors or B cell depleting agents. Most current therapies do not lead to long-term remission and/or are toxic. RA patients still have a reduced survival rate and report significantly poorer health compared with the general population. There continues to be a strong unmet medical need for safe and effective therapies in patients with autoimmune diseases.
</p>