<p>Atherosclerosis: ABCA1 modulators/stabilizers</p>
<ul>
    <li>
        <p>More info:</p>
        <p>By increasing cellular ABCA1 content, ABCA1 stabilizers will:</p>
        <ul>

            <li>Increase reverse cholesterol transport (RCT), the process by which excess cholesterol is effluxed</li>
        </ul>
    </li>
    <li>
        <p>from peripheral tissues to HDL and returned to the liver for excretion into the bile and,</p>
        <ul>

        </ul>
    </li>
    <li>
        <p>ultimately, the feces</p>
        <ul>

            <li>Increase the production of lipid-poor HDL by the liver and intestine</li>
            <li>Increase lipid efflux from macrophage foam cells in the arterial wall</li>
            <li>Prevent beta-cell dysfunction by maintaining cholesterol homeostasis in the pancreas</li>
        </ul>
    </li>
    <li>
        <p>Potential issues:</p>
        <ul>

            <li>Increased ABCA1 in the liver may increase VLDL and/or LDL synthesis. This can be easily monitored in vivo by determining plasma concentrations of apoB and VLDL/LDL cholesterol</li>
            <li>Stabilizing ABCA1 may not increase its function</li>
        </ul>
    </li>
    <li>
        <p>Clinical rationale:</p>
        <ul>

            <li>Cholesterol efflux from macrophage foam cells (found in the atherosclerotic plaque), the first step in the RCT pathway, is postulated to protect against the progression and complications of CVD</li>
            <li>Enhancing RCT, as ABCA1 stabilizers will do, may thus be an effective therapeutic strategy for further reducing CVD risk</li>
            <li>In addition, increasing ABCA1 levels in pancreatic β-cells may restore their function by reducing lipotoxicity. This could, in turn, increase insulin secretion and prove beneficial to glucose control in diabetic patients</li>
        </ul>
    </li>
    <li>
        <p>Scientific validation:</p>
        <ul>

            <li>ABCA1 has a short half-life (~1h). Pharmacological stabilization of plasma membrane ABCA1 increases HDL cholesterol levels and decreases atherosclerosis in rabbits.</li>
            <li>Rosiglitazone, a PPARγ agonist, improves glucose tolerance in a mouse model; however, this beneficial effect disappears when ABCA1 is ablated in the β-cells</li>
            <li>Protein constituents of HDL, such as apoA-I, apoA-II, apoE, directly bind to and stabilize ABCA1 on the cell membrane, which may, in part, explain the atheroprotective effect of HDL</li>
            <li>ABCA1 is expressed in THP-1 cells, a human macrophage cell line that could be used for a high throughput screen</li>
        </ul>
    </li>
    <li>
        <p>Human Genetics:</p>
        <ul>

            <li>ABCA1 polymorphisms have been associated with plasma HDL cholesterol levels in several genome-wide association studies</li>
            <li>ABCA1 polymorphisms associated with increased promoter activity, higher efflux capability, or higher HDL levels, are associated with a later onset of coronary artery disease</li>
        </ul>
    </li>
</ul>