<p>
    There is a strong medical need for better treatment for [L858R]+ patients, a subset of patients with non small cell lung cancer. While these patients are initially responsive to tyrosine kinase inhibitors (Iressa/Tarceva), resistance to both tyrosine kinase inhibitors is conferred by secondary [T790M] mutation in approximately ~50% of these patients. Targeting both L858R and L858R/T790M mutants at the same time while sparing the wild-type EGFR activity presents an opportunity to treat broad patient population while limiting the side-effects.
</p>
<ul>
    <li>
        <p>
            More info:
        </p>
        <ul>
            <li>
                Lung cancer is a leading cause of cancer mortality with over 219,440 new cases and over 159,390 deaths estimated for 2009. Approximately 85% of lung cancer cases are classified as non small cell lung cancer (NSCLC)
            </li>
            <li>
                Even with treatment, patients with advanced NSCLC have poor rates of 5-year survival (8% stage III, 1.5% stage IV)
            </li>
            <li>
                The EGFR L858R mutation is the major oncogenic mutation in NSCLC patients. Current treatments include Tarceva and Iressa, but drug resistance emerges (EGFR T790M)
            </li>
            <li>
                Targeting both L858R and L858R/T790M mutants at the same time while sparing the wild-type EGFR activity presents an opportunity to treat broad patient population while limiting the side- effects. The side effects associated with current marketed EGFR inhibitors include rash and diarrhea
            </li>
        </ul>
    </li>
    <li>
        <p>
            Scientific validation:
        </p>
        <ul>
            <li>
                EGFR is a validated target in the clinic. Tarceva and Iressa are the current treatments for NSCLC patients bearing EGFR activating mutations
            </li>
        </ul>
    </li>
    <li>
        <p>
            Human Genetics:
        </p>
        <ul>
            <li>
                The EGFR L858R mutation is the major oncogenic mutation in NSCLC patients (~40% ). This patient group is currently treated with small molecule EGFR inhibitors such as Iressa and Tarceva
            </li>
            <li>
                However, a secondary T790M mutation has emerged in ~50% of the patient population, which confers drug resistance
            </li>
        </ul>
    </li>
<ul>
