<p>
    IRAK1’s adaptor/scaffold function. Inhibitors of this activity should block activation resulting from pro-inflammatory cytokines, chemokines, and adhesion molecules.
</p>
<ul>
    <li>
        <p>More info:</p>
        <ul>
            <li>
                IL-1R/TLR activates proinflammatory cytokine production (e.g., TNFα, IL-1β, IL-6, IL12/23, IFNs) in a MyD88 and IRAK1 dependent manner
            </li>
            <li>
                Upon ligand recognition, IL-1R/TLR associates with MyD88, which allows MyD88 to recruit IRAKs. The formation of this macromolecular complex triggers the propagation of downstream signaling (e.g., NFkB, MAPK, IRF) to induce gene expression
            <li>
                Activation of NFkB via MyD88 or IRAK1 is dependent on IRAK1’s adaptor/scaffold function, such that inhibitors should block activation resulting from pro-inflammatory cytokines, chemokines, and adhesion molecules
            </li>
        </ul>
    </li>
    <li>
        <p>
            Clinical rationale:
        </p>
        <ul>
            <li>
                IL-1 and TLR signaling are key pathways in the regulation of inflammatory processes. Over production of IL-1β due to the genetic mutations in NLRP3, has been well documented as the cause of hereditary autoinflammatory disorders like Cryopyrin-associated periodic syndromes (CAPS)
            </li>
            <li>
                Anti-IL-1β antibody is efficacious in CAPS and other proinflammatory syndromes, including gout and systemic-onset juvenile idiopathic arthritis (sJIA). Low molecular weight IRAK1 adaptor inhibitors could provide protection in these diseases
            </li>
            <li>
                In addition, IRAK1 inhibitors could block TLR (except TLR3) mediated NFkB activation and impair downstream cytokine synthesis (e.g., TNFα, IL6, IL12/23p40).
            </li>
            <li>
                Therefore, these molecules could provide therapeutic benefits in a range of inflammatory autoimmune diseases (e.g., rheumatoid arthritis, multiple sclerosis, Crohn’s disease) where antibodies targeting these cytokines show beneficial effects
            </li>
        </ul>
    </li>
    <li>
        <p>
            Scientific validation:
        </p>
        <ul>
            <li>
                RNAi studies in human cells:
                <ul>
                    <li>
                        Expression and production of TLR2/4/8 induced TNFα and IL12/23p40 were blocked in the human monocytic THP-1 cells with IRAK1 shRNA knock-down
                    </li>
                    <li>
                        TLR7/9-inducedIL12/23p40wasinhibitedinahumanBcellline,RPMI-8226, following IRAK1 knock-down
                    </li>
                    <li>
                        IL-1βinducedIL-6 production was inhibited in human lung epithelial A549 cells and attenuated in human primary dermal fibroblasts by knock-down of IRAK1
                    </li>
                    <li>
                        IRAK1 and IRAK4 dual knock-downinhumanprimarydermalfibroblasts resulted in complete inhibition of IL-6 production. IRAK4 knock-down, in contrast, resulted in lesser degree of IL-6 inhibition in the same cells
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <p>
            Human Genetics:
        </p>
        <ul>
            <li>
                MyD88 or IRAK4 deficiency in humans demonstrates strongly impaired IL-1R/TLR responses. No cytokines were detected in PBMC from these individuals upon stimulation with TLR ligands (except TLR3) or IL-1β, while the responses to polyI:C (TLR3 ligand) or TNFα appear to be normal. These patients are susceptible to recurrent pyogenic infection only during childhood and are managed effectively with antibiotics. Patients do not show increased risk of infection from most common bacteria, viruses, fungi and parasites
            </li>
            <li>
                IRAK1 has been identified as a risk gene for adult- and childhood-onset systemic lupus erythematosus (SLE) in gene-wide association studies
            </li>
        </ul>
    </li>
    <li>
        <p>
            Model Organism Genetics:
        </p>
        <ul>
            <li>
                <p>
                    IRAK1 knock-out mice exhibit:
                </p>
                <ul>
                    <li>
                        ReducedIL-1/TLR2/4–mediatedIL-6/TNFα production and abolishment of TLR7- mediated IFNα production
                    </li>
                    <li>
                        Impaired activation of MAPKs and NFkB
                    </li>
                    <li>
                        Increased differentiation of T-reg cells and impaired differentiation of Th17 cells
                    </li>
                    <li>
                        Resistant to lethal effects of LPS or gram negative bacterial infection but not to gram positive bacterial infection
                    </li>
                    <li>
                        Reduction of all lupus-associated phenotypes when crossed with mice prone to spontaneous lupus-like syndrome
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    MyD88 knock-out mice exhibit:
                </p>
                <ul>
                    <li>
                        Reduced IL-1,IL-18 and TLR2/4/5/7/9–mediated IL-6/TNFα production
                    </li>
                    <li>
                        Abolishment of NFkB and MAPK activation upon IL-1β and TLR2 ligand stimulation
                    </li>
                    <li>
                        Resistance to collagen-induced arthritis and lethal effects of LPS
                    </li>
                    <li>
                        Reduced atherosclerosis when crossed with ApoE-/- mice
                    </li>
                    <li>
                        Decreased mortality and intestinal tumor progression when crossed with ApcMin/+ mice
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    MyD88-deficient NOD mice are protected from diabetes as the pancreatic T cells show diminished proliferation and IFNγ production
                </p>
            </li>
        </ul>
    </li>
</ul>
