.legislator {
    .name {
        text-decoration: underline;
        font-size: 22px;
    }
    font-size: 16px;
    .R {
        background-color: red;
        color: white;
    }

    .D {
        background-color: blue;
        color: white
    }

    .basics {
        display: inline-block;
        margin-left: 30px;
    }
}

.decision {
    margin-top: 20px;
}