.percent-holder {
    display: inline-block;
    width: 200px;

    div {
        float: left;
        height: 20px;
    }

    .democrats {
        background-color: blue;
    }

    .republicans {
        background-color: red;
    }
}