.states {
    overflow: hidden;
    position: relative;
    text-align: left;
    // width: 136%;
    height: 600px;

    .current-state {
        min-height: 100px;
        padding-left: 48px;
        font-size: 30px;
        position: absolute;
    }

    p {
        margin-top: 30px;
        font-size: 18px;
    }

    svg {
        position: absolute;
        width: 75%;
        margin-left: 12.5%;
        .land {
            fill: #466558;
            fill-opacity: 1;
            stroke:white;
            stroke-opacity: 1;
            stroke-width:0.5;
        }
        .land:hover {
            fill: #BDB274;
        }

        .chosen {
            fill: rgb(136, 32, 32);
        }
    }
}