.states {
    .states-list {
        .state-holder {
            padding: 5px;
            .state {
                background-color: rgb(181,225,182);
                padding: 15px;
                text-align: center;
                color: white;
                font-size: 22px;
            }
            .state:hover {
                background-color: rgb(83,162,77);
                cursor: pointer;
            }
        }
    }
    overflow: hidden;
    position: relative;
    text-align: left;
    // width: 136%;
    height: 500px;

    .current-state {
        min-height: 100px;
        padding-left: 48px;
        font-size: 30px;
        position: absolute;
    }

    p {
        font-size: 18px;
    }

    svg {
        position: absolute;
        width: 75%;
        margin-left: 12.5%;
        .land {
            fill: #466558;
            fill-opacity: 1;
            stroke:white;
            stroke-opacity: 1;
            stroke-width:0.5;
        }
        .land:hover {
            fill: #BDB274;
        }

        .chosen {
            fill: rgb(136, 32, 32);
        }
    }
}